{% load i18n %}

<div class="main-martor main-martor-{{ field_name }}" data-field-name="{{ field_name }}">
  <div class="section-martor">
    <ul class="ui top attached nav nav-tabs tab-martor-menu">
      <li class="nav-item item" data-tab="editor-tab-{{ field_name }}"><a class="nav-link active"><i class="fa fa-edit fa-fw"></i> {% trans "Editor" %}</a></li>
      <li class="nav-item item" data-tab="preview-tab-{{ field_name }}"><a class="nav-link"><i class="fa fa-eye fa-fw"></i>{% trans "Preview" %}</a></li>
      {% include "martor/toolbar.html" %}
    </ul>
    <div class="ui bottom attached tab segment active" data-tab="editor-tab-{{ field_name }}">
      <div class="ui active dimmer upload-progress" style="display:none">
        <div class="ui text loader">{% trans "Uploading... please wait..." %}</div>
      </div>
      <div id="martor-{{ field_name }}" class="martor-field martor-field-{{ field_name }}"></div>
      {{ martor }}
      <i class="fa fa-arrows-v fa-fw expand-editor"></i>
    </div>
    <div class="ui bottom attached tab segment martor-preview" data-tab="preview-tab-{{ field_name }}">
      <p>{% trans "Nothing to preview" %}</p>
    </div>
  </div>

  {% include 'martor/guide.html' %}
  {% include 'martor/emoji.html' %}
</div>
